<h1>RESTdesc example server</h1>
These are your current OPTIONS:
<ul>
<li><a href="./photos">./photos</a></li>
</ul>

<h2>Source code</h2>
<a href="https://github.com/tomayac/RESTdesc">RESTdesc on GitHub</a>
